.finger {
    width: 60px; /* Adjust the width as needed */
    height: auto;
}


.image-container1 {
    display: flex;
    height: 300px;
    /* Other styles for the container itself */
}

.image-container1 img {
    margin: 20px

}

