.finger {
  width: 60px; /* Adjust the width as needed */
  height: auto;
}

.image-container1 {
  display: flex;
  height: 250px;
  margin-right: -90px;
  margin-left: 40px;
  /* Other styles for the container itself */
}

.image-container1 img {
  margin: 20px;
}

.player {
  font-size: 50px;
  margin-left: -400px;
  margin-top: 30px;
}

.player2 {
  font-size: 50px;
  margin-left: -400px;
  margin-top: 30px;
}

.layout {
  display: flex;
  flex-direction: column;
}

.handturncontainer1 {
  display: flex;
  flex-direction: column;
  margin-left: -400px;
  margin-bottom: -50px;
}

.handbuttoncontainer {
  display: flex;
}

.layout2 {
  display: flex;
  justify-content: flex-start;
}

.switchbutton {
  width: 50px;
  margin-right: -300px;
  margin-left: 175px;
}

.round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px; /* Adjust the width */
  height: 30px; /* Adjust the height */
  border-radius: 30%;
  background-color: #3498db; /* Button background color */
  color: #ffffff; /* Text color */
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Adjust the font size */
  border: none; /* Remove border */
  cursor: pointer;
  outline: none; /* Remove outline */
  margin-right: 10px;
}

/* Optional hover effect */
.round-button:hover {
  background-color: #2980b9; /* Hover background color */
}

.round-button.highlighted {
  background-color: #ffcc00; /* Adjust the background color for highlighting */
  color: #333; /* Adjust the text color for highlighting */
}

.reset-button {
  position: relative;
  right: 600px;
  width: 100px;
}

.waiting-text {
  margin-left: -400px;
  margin-top: 30px;
  font-size: 20px;
}

.winning-text {
  position: absolute;
  top: 10%;
  right: 43%;
  font-size: 50px;
}

.layout3 {
  position: absolute;
  right: 4%;
  top: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
}
