.dashboard {
  display: flex;
  position: absolute;
  top: 5%;
  left: 70%;
}

.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: rgb(0, 0, 0);
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(./background.jpg); /* Set the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Ensure the body covers the entire viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide content that overflows */
}

.chopsticks {
  width: 200px;
  height: 200px;
}
